@font-face { 
    font-family: 'Lato';
    src: url("/fonts/Lato/Lato-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face { 
    font-family: 'Lato';
    src: url("/fonts/Lato/Lato-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}
@font-face { 
    font-family: 'Lato';
    src: url("/fonts/Lato/Lato-Bold.ttf") format("truetype");
    font-weight: 600;
    font-style: bold;
}

@font-face { 
    font-family: 'Signika';
    src: url("/fonts/Signika/Signika-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}



*{
    padding: 0;
    color: #33495F;
    text-decoration: none;
}

body{
    font-family: 'Lato', sans-serif;
    background: #EAEDF1;
}

h1, h2, h3, h4 {
    color: #33495F;
    font-family: 'Signika', sans-serif;
}

.mainContainer {
    /* background: rgb(205, 236, 207); */
    margin-top: 82px;
    margin-left: 73px;
    width: 1400px;
    height: 1200px;
}

/* photo block */
.topPhoto{
    float: left;
    background: #FFFFFF;
    width: 434px;
    height: 295px;
    border-radius: 4px;
}
.topPhoto img {
    float: left;
    width: 146px;
    height: 146px;
    border-radius: 100%;
    margin-left: 26px;
    margin-top: 35px;
}
.topPhoto h2 {
    float: left;
    font-size: 30px;
    margin-top: 77px;
    margin-left: 42px;
    font-weight: 500;
}

.topPhoto  p {
    color: #586879;
    float: left;
    font-size: 17.4px;
    margin-top: -21px;
    margin-left: 42px;
}

.photoIcons{
    position: relative;
    top: 35px;
    height: 80px;
    clear: both;
}

.photoIcons p {
    letter-spacing:  -0.7px;
    color: #FFFFFF;
    display: inline-block;
    width: 25%;
    height: 38px;
    margin: 0%;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 42px;
}

.photoIcons p:nth-child(1) {
    background: #16C4EC url(/images/icon-top-1.png) no-repeat 50% 18px;
}
.photoIcons p:nth-child(2) {
    background: #FA5351 url(/images/icon-top-2.png) no-repeat 50% 18px;
}
.photoIcons p:nth-child(3) {
    background: #10CDC1 url(/images/icon-top-3.png) no-repeat 50% 18px;
}
.photoIcons p:nth-child(4) {
    background: #33495F url(/images/icon-top-4.png) no-repeat 50% 18px;
}

/* description block */
.topDescription{
    float: left;
    background: #FFFFFF;
    width: 822px;
    height: 295px;
    margin-left: 90px;
    border-radius: 4px;
}
.descriptionTitle{
    float: left;
    width: 480px;
}
.descriptionTitle h1 {
    letter-spacing: 0.3px;
    font-size: 38px;
    margin-left: 29px;
    margin-top: 42px;
    font-weight: 500;
}
.descriptionTitle p {
    font-size: 18px;
    line-height: 1.7em;
    margin-left: 30px;
    margin-top: -15px;
    padding-right: 45px;
    font-weight: 500;
    text-align: justify;
}
.bold{
    font-weight: bold;
}
.highlighted {
    color: #16C4EC;
}
.socialLinks a {
    padding-top: 2px;
    display: inline-block;
    margin-left: 51px;
    height: 20px;
    width: 20px;
}
.socialLinks a:nth-child(1){
    margin-left: 20px;
}
.webLinks {
    float: right;
    width: 275px;
    margin-top: 95px;
    padding-right: 35px;
    
}
.webLinks a{
    letter-spacing: 0.3px;
    display: inline-block;
    width: 100%;
    text-align: justify;
    font-family: 'Signika';
    line-height: 2.1em;
    font-size: 22px;
    text-decoration: none;
}
.webLinks a:nth-child(2){
    letter-spacing: 2.4px;
    color: #FA5351;
}
.webLinks hr{
    margin-top: 24px;
}


/* left columns */
.leftColumn{
    float: left;
    width: 635px;
}
.leftColumnBlock{
    float: left;
    margin-top: 35px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 4px;
}

.leftBlockShort{
    height: 169px;
    margin-top: 35px;
}
.leftBlockShort:last-of-type{
    margin-top: 30px;
}

.leftColumnBlock h3{
    display: inline-block;
    float: left;
    font-size: 25px;
    font-weight: 300;
    padding-left: 24.5px;
    padding-top: 5px;
    margin-bottom: 0;
}
.leftColumnBlock p{
    color: #9EA7B4;
    display: inline-block;
    float: left;
    font-size: 17.5px;
    font-weight: 100;
    padding-left: 15px;
    padding-top: 18px;
    margin-bottom: 0;
}
.leftColumnBlock h4{
    clear: both;
    color: #10CDC1;
    font-size: 21px;
    font-weight: 300;
    padding-left: 22px;
}
.leftColumnBlock li{
    clear: both;
    list-style-image: url("/images/list-deco.png");
    font-size: 16px;
    font-weight: 300;
    margin-left: 55px;
    margin-top: 10px;
}
.leftColumnBottom{
    
    width: 100%;
    height: 85px;
    
}
.leftColumnBottom p{
    display: inline-block;
    color:#9EA7B4;
    font-family: 'Lato';
    font-size: 15px;
    margin-top: 10px;
    margin-left: 10px;
}
.leftColumnBottom p:nth-child(2){
    margin-left: 35px;
}
.cityInfo,
.yearsInfo{
    float: left;
    color:#9EA7B4;
    font-size: 15px;
    position: relative;
    bottom: 3px;
    right: 3px;
}
.leftColumnBottom p img{
    position: relative;
    top: 6px;
}
.linkButton{
    float: right;
    background: #16C4EC;
    font-size: 16px;
    border-radius: 3px;
    text-align: center;
    width: 216px;
    height: 37px;
    margin-top: 26px;
    margin-right: 24px;
}
.linkButton a{
    position: relative;
    top: 9px;
    color: white;
}


.leftColumnBlock:nth-child(2) h3{
    padding-top: 0px;
}
.leftColumnBlock:nth-child(2) p{
    margin-top: 13px;
    padding-left: 10px;
}
.leftColumnBlock:nth-child(2) ul{
    margin-top: -14px;
}
.leftColumnBottom:nth-child(2){
    position: relative;
    top: -100px;
}
.leftColumnBlock:nth-child(2) .cityInfo,
.leftColumnBlock:nth-child(2) .yearsInfo{
    position: relative;
    top: -9px;
    right: -5px;
}
.leftColumnBlock:nth-child(2) .linkButton {
    position: relative;
    top: -3px;
}

.leftColumnBlock:nth-child(3) h3{
    padding-top: 0px;
}
.leftColumnBlock:nth-child(3) p{
    margin-top: 13px;
    padding-left: 10px;
}
.leftColumnBlock:nth-child(3) .cityInfo,
.leftColumnBlock:nth-child(3) .yearsInfo{
    position: relative;
    top: -34px;
    right: -3px;
}
.leftColumnBlock:nth-child(3) .linkButton {
    background: #B0BBCA;
    position: relative;
    top: -30px;
}

.leftColumnBlock:nth-child(4) h3{
    padding-top: 0px;
}
.leftColumnBlock:nth-child(4) p{
    margin-top: 13px;
    padding-left: 10px;
}
.leftColumnBlock:nth-child(4) .cityInfo,
.leftColumnBlock:nth-child(4) .yearsInfo{
    position: relative;
    top: -34px;
    right: -3px;
}
.leftColumnBlock:nth-child(4) .linkButton {
    background: #B0BBCA;
    position: relative;
    top: -30px;
}

/* center */
.divider {
    float: left;
    margin-top: 37px;
    margin-left: 4px;
    width: 72px;
    height: 1174px;
}
.divider .line{
    float: left;
    margin-left: 32px;
    width: 7px;
    height: 1174px;
    background: #DBE1E8;
}
.divider .lightRound{
    position: absolute;
    left: 714px;
    top: 675px;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    margin-left: 32px;
    background: #DBE1E8;
}

.lightRound:nth-child(3){
    top: 879px;
}
.lightRound:nth-child(4){
    top: 1080px;
}
.lightRound:nth-child(5){
    top: 1300px;
}
.lightRound:nth-child(6){
    top: 1460px;
}

.divider .whiteRound{
    position: absolute;
    left: 714px;
    top: 574px;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    margin-left: 32px;
    background: white;
}
.whiteRound:nth-child(7)
{
    top: 937px;
}
.whiteRound:nth-child(8)
{
    top: 1217px;
}
.whiteRound:nth-child(9)
{
    top: 1414px;
}

.divider .startYear{
    position: absolute;
    top: 1555px;
    left: 720px;
    width: 72px;
    height: 32px;
    background: #DBE1E8;
    color: black;
    border-radius: 5px;
}
.divider .startYear p{
    position: relative;
    top: -20px;
    color: white;
    font-size: 21px;
    text-align: center;
}

/* right column  */

.rightColumn{
    float: right;
    margin-right: 50px;
    width: 625px;
}


.rightColumnExp{
    float: right;
    margin-top: 35px;
    width: 100%;
    height: 172px;
    background: #DBE1E8;
    border-radius: 2px;
}
.rightColumnExp  .cityInfo,
.rightColumnExp  .yearsInfo{
    font-size: 12px;
    color: #586879;
}


.rightLinkButton{
    float: right;
    background: #10CDC1;
    font-size: 15px;
    border-radius: 3px;
    text-align: center;
    width: 216px;
    height: 37px;
    margin-top: 7px;
    margin-right: 26px;
}
.rightColumnExp a{
    position: relative;
    top: 7px;
    color: white;
}
.rightColumnExp h3{
    display: inline-block;
    float: left;
    font-size: 21px;
    font-weight: 300;
    padding-left: 23px;
    padding-top: 12px;
    margin-bottom: 0;
}
.rightColumnExp p{
    color: #9EA7B4;
    display: inline-block;
    float: left;
    font-size: 16px;
    font-weight: 100;
    padding-left: 15px;
    padding-top: 18px;
    margin-bottom: 0;
}
.rightColumnExp h4{
    clear: both;
    color: #16C4EC;
    font-size: 18px;
    font-weight: 300;
    padding-left: 20px;
    padding-top: 2px;
}
.rightColumnExpBottom p{
    display: inline-block;
    color:#9EA7B4;
    font-family: 'Lato';
    font-size: 12px;
    position: relative;
    top: -27px;
    right: -0px;
}
.rightColumnExpBottom p:nth-child(2){
    margin-left: 50px;
}
.rightColumnExpBottom p img{
    position: relative;
    top: 7px;
}
.rightColumnExp:nth-child(2){
    margin-top: 30px;
}
.rightColumnExp:nth-child(2) .rightColumnExpBottom p{
    top: -25px;
}

/* dots */
.dottedLine{
    float: right;
    width: 100%;
    height: 3px;
    background: url("/images/dottedLine.png");
    margin-top: 34px;
}

/* education */
.rightColumnEdu{
    float: right;
    margin-top: 33px;
    width: 100%;
    height: 125px;
    background: #DBE1E8;
    border-radius: 2px;
}
.rightColumnEdu  .cityInfo,
.rightColumnEdu  .yearsInfo{
    font-size: 12px;
    color: #586879;
}
.rightColumnEdu h3{
    display: inline-block;
    float: left;
    font-size: 23px;
    font-weight: 300;
    padding-left: 22px;
    padding-top: 5px;
    margin-bottom: 0;
}
.rightColumnEdu p{
    color: #9EA7B4;
    display: inline-block;
    float: left;
    font-size: 16px;
    font-weight: 100;
    padding-left: 10px;
    padding-top: 18px;
    margin-bottom: 0;
}
.rightColumnEdu h4{
    clear: both;
    color: #10CDC1;
    font-size: 18px;
    font-weight: 300;
    padding-left: 20px;
    padding-top: 2px;
}
.rightColumnEduBottom p{
    display: inline-block;
    color:#9EA7B4;
    font-family: 'Lato';
    font-size: 12px;
    position: relative;
    top: -50px;
    right: -5px;
}
.rightColumnEduBottom p img{
    position: relative;
    top: 6px;
}
.rightColumnEduBottom p:nth-child(2){
    margin-left: 55px;
}

.stars{
    float: right;
    margin-top: -9px;
    width: 120px;
    height: 20px;
}
.stars img{
    margin-right: -3px;
}

.rightColumnEdu:last-of-type{
    float: right;
    margin-top: 33px;
    width: 100%;
    height: 130px;
}

.rightColumnEdu:last-of-type h3{
    margin-top: 26px
}

/* about */

.rightColumnAbout{
    float: right;
    height: 400px;
    width: 100%;
    margin-top: 40px;
    background: white;
    border-radius: 2px;
}

.aboutPictures {
    position: relative;
    left: 5px;;
}

.aboutBlock {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 16%;
    text-align: center;
    text-transform: uppercase;
    margin-top: 18px;
}
.aboutBlock p{
    margin-top: 9px;
    font-size: 12.5px;
}
.aboutIcon{
    width: 76px;
    height: 76px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}
.aboutBlock:nth-child(1) .aboutIcon{
    background: #10CDC1 url("/images/about-web.png") no-repeat 50% 50%;
}
.aboutBlock:nth-child(2) .aboutIcon{
    background: #16C4EC url("/images/about-serv.png") no-repeat 50% 50%;
}
.aboutBlock:nth-child(3) .aboutIcon{
    background: #10CDC1 url("/images/about-mel.png") no-repeat 50% 50%;
}
.aboutBlock:nth-child(4) .aboutIcon{
    background: #FA5351 url("/images/about-fash.png") no-repeat 50% 50%;
}
.aboutBlock:nth-child(5) .aboutIcon{
    background: #10CDC1 url("/images/about-epic.png") no-repeat 50% 50%;
}
.aboutBlock:nth-child(6) .aboutIcon{
    background: #16C4EC url("/images/about-voy.png") no-repeat 50% 50%;
}


.skillsLeft {
    margin-left: 20px;
    float: left;
}
.skillLeft{
    position: relative;
    bottom: -27px;
    margin-top: -15px;
}
.skillLeft p {
    margin-bottom: 16px;
}
.progressBar{
    width: 266px;
    height: 14px;
    border-radius: 10px;
    background: #000;
    position: relative;
    bottom: 15px;
    -webkit-appearance: none;
}

.progressBar[value]::-webkit-progress-bar {
    background: #DBE1E8;
    border-radius: 5px;
  }

.skillsLeft .progressBar[value]::-webkit-progress-value {
border-radius:  5px 0 0 5px;
background: #10CDC1;
}

.skillsRight .progressBar[value]::-webkit-progress-value {
border-radius:  5px 0 0 5px;
background: #16C4EC;
}

.skillsRight {
margin-right: 20px;
float: right;
}

.percent{
    width: 37px;
    height: 18px;
    position: absolute;
    top: 1px;
    background: #23475F;
    text-align: center;
    border-radius: 4px;
}
.percent p{
    position: relative;
    top: -10px;
    color: white;
    font-size: 11px;
    
}
.percent::after {
    content: ''; 
    position: absolute;
    left: 10px; bottom: -15px;
    border: 10px solid transparent;
    border-top: 10px solid #23475F;
}

#photoshop{
    left: 191px;
}
#illustrator{
    left: 125px;
}
#wordpress{
    left: 230px;
}
#prestashop{
    left: 204px;
}

#referencement{
    left: 168px;
}
#reseaux{
    left: 188px;
}
#ui{
    left: 137px;
}
#ux{
    left: 169px;
}

#english{
    width: 100%;
    text-align: center;
    clear: both;
    height: 100px;
}
#english p {
    position: relative;
    right: 26px;
    top: -50px;
    font-family: 'Lato';
    font-style: italic;
    font-weight: 100;
    font-display: initial;
    font-size: 19px;
    margin-bottom: 0;
}
#english span {
    font-family: 'Signika';
    color: #CED4DD;
    position: relative;
    top:80px;
    font-size: 130px;
    margin-top: 0;
}
#english span:nth-child(1){
    right: 25px;
}
#english span:nth-child(2){
    right: 15px;
}